/* FORMATAÇÃO DAS TAGS BODY***********************************/
a { text-decoration: none; padding: 5px;}
ul li { list-style: none;}
h2,h3,h4,h5{
    padding: 15px;
    font-size: 20px;
    background-color: #5A7389;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 22px;

}
p{
    text-indent: 32px;
    padding: 15px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
}
body { background-color: #E6E7EC; }
/*Formatando o sentido para o horizonte da página***/
.flex{  
    flex-wrap: wrap; 
    display: flex; 
    max-width: 100%; 
    margin: 0 auto;
}
/*Formatando o sentido para a vertical da página****/
.col1{ width: 120px;}.col2{ width: 240px;}.col3{ width: 360px;}.col4{ width: 480px;}.col5{ width: 600px;}	.col6{ width: 60%;}	
.col7{ width: 840px;}.col8{ width: 960px;}.col9{ width: 1080px;}.col10{ width: 1200px;}

/*********************************************************************************************
/*FORMATANDO O HEADER*************************************************************************
index.html - 04/11/2024
atendimento.html
contato.html
sobre-nos.html*/

#boton{
    width: 250px;    
    padding: 20px 30px 20px 30px;
    margin: 0px 0px 5px 0px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: #5A7389;
    border-radius: 20%;
}
#boton:hover{  background-color:#2A4D73; color: aliceblue; }
#id{
    border: inset 12px #2A4D73;
    margin-left: 8%;
    margin-top: 220px;
}
.social img{ margin-right: 1px;  float: right; }
#social{  
    width: 50px; 
    border-radius: 62px; 
    padding: 10px;
}
#slogan{
    width: 380px;
    height: 150px;
    margin-left: -1px;
}




